<h1><%= @tag.phrase %></h1>

<% @tag.tweets.each do |tweet| %>
	<div class="row">
		<div class="col-md-1">
			<%= image_tag tweet.user.avatar.url, class: "user-avatar" %>
		</div>
		<div class="col-md-8 tweet-area">
			<p>
				<%= link_to "#{tweet.user.name} @#{tweet.user.username}", show_user_path(id: tweet.user.id) %> &#8226; <span class="time-ago"><%= time_ago_in_words(tweet.created_at) %></span>
			</p>
			<p>
				<%= tweet.message.html_safe %>
			</p>
		</div>
	</div>
<% end %>